<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show notification via js
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button (click)="showNotification()" mat-button>show</button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show notification via Rust
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button (click)="showNotification2()" mat-button>show</button>
  </mat-expansion-panel>
</mat-accordion>
`
