<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Open a file/directory selection dialog
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button (click)="selectionDialog()" mat-button>selection dialog</button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Open a file/directory save dialog
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button (click)="saveDialog()" mat-button>save dialog</button>
  </mat-expansion-panel>
</mat-accordion>

