@import "material";


$grey-1: rgb(1, 1, 1);
$grey-2: rgb(11, 11, 11);
$grey-3: rgb(55, 55, 55);
$grey-4: rgb(88, 88, 88);
$grey-5: rgb(111, 111, 111);
$grey-6: rgb(133, 133, 133);
$grey-7: rgb(155, 155, 155);
$grey-8: rgb(177, 177, 177);
$grey-9: rgb(199, 199, 199);
$grey-10: rgb(222, 222, 222);
$grey-10: rgb(244, 244, 244);
